body{
background-color: black
}

h1{
position:absolute;
font-family: DINCondensed-Bold;
font-size:158px;
color: ghostwhite;
letter-spacing: -18.84px;
margin-left: 12%;
margin-right:12%;
}

h2{
position:absolute;
font-family: DINCondensed-Bold;
font-size: 110px;
color: black;
text-align: justify;
margin-left: 12%;
margin-right:12%;
}

h3{
position:absolute;
font-family: DINCondensed-Bold;
font-size: 120px;
color: orangered;
text-align: justify;
margin-left: 12%;
margin-right:12%;
}

h4{
position:absolute;
font-family: DINCondensed-Bold;
font-size: 104px;
color: black;
text-align: justify;
margin-left: 12%;
margin-right:12%;
}



.topCenter, .bottomCenter{
}

.bottomCenter{
}

.letters span{
transition:.8s;
}

.letters span.focus, .letters span.focus + span + span, .letters.minusTwo > span:first-child,.letters.minusOne > span:nth-child(2){
color:yellow;
text-shadow:0 0 16px yellow;
}

.letters span.focus + span, .letters.minusOne > span:first-child{
color:darkOrange;
text-shadow:0 0 16px darkOrange;
}

